# Brickset Sets URL

Workflow: 2   

Goal: Get the set url for every set on the brickset website. Traverse the website by year.   

Result: Set url data is output to the file ```brickset_set_url.csv```.    

Source: https://brickset.com/browse/sets

In [1]:
import os
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../')
import lego_helper as lh

## Scrape Data By Year

In [5]:
set_ls = lh.get_year('2017')
set_ls[:2]

year: 2017
page no: 10
page no: 20
page no: 30
last page: 34

[{'set_no': '10255',
  'name': 'Assembly Square',
  'url': '/sets/10255-1/Assembly-Square'},
 {'set_no': '10256', 'name': 'Taj Mahal', 'url': '/sets/10256-1/Taj-Mahal'}]

In [6]:
set_df = pd.DataFrame(set_ls)
set_df = set_df[['set_no', 'name', 'url']]
set_df.head()
set_df.info()

  set_no                    name                                   url
0  10255         Assembly Square         /sets/10255-1/Assembly-Square
1  10256               Taj Mahal               /sets/10256-1/Taj-Mahal
2  10257                Carousel                /sets/10257-1/Carousel
3  10258              London Bus              /sets/10258-1/London-Bus
4  10259  Winter Village Station  /sets/10259-1/Winter-Village-Station

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 3 columns):
set_no    839 non-null object
name      839 non-null object
url       839 non-null object
dtypes: object(3)
memory usage: 19.7+ KB

In [7]:
save_path = r'../data/set_url_2017.csv'
set_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.05 mb'

## Scrape All Years

In [ ]:
cyear = 1980
set_ls = []

while cyear <= 2018:
    cset_ls = lh.get_year(str(cyear))
    set_ls += cset_ls
    cyear += 1

set_ls[:2]

In [ ]:
set_df = pd.DataFrame(set_ls)
set_df = set_df[['set_no', 'name', 'url']]
set_df.head()
set_df.info()

In [ ]:
save_path = r'../data/brickset_set_url.csv'
set_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'