# Brickset Merge Job Files 

Workflow: 4   

Goal: To concatenate the job files with raw data.   

Result: All sets' raw data is available in one file ```brickset_set_full.csv```.

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Merge Job Files

In [3]:
SET_0_FILE = '../data/brickset_job_0k.csv'
SET_3_FILE = '../data/brickset_job_3k.csv'
SET_7_FILE = '../data/brickset_job_7k.csv'
SET_10_FILE = '../data/brickset_job_10k.csv'

In [4]:
set_0_df = pd.read_csv(SET_0_FILE)
set_3_df = pd.read_csv(SET_3_FILE)
set_7_df = pd.read_csv(SET_7_FILE)
set_10_df = pd.read_csv(SET_10_FILE)

set_0_df.shape
set_3_df.shape
set_7_df.shape
set_10_df.shape

(3499, 20)

(3499, 20)

(3499, 20)

(3399, 20)

In [5]:
set_df = pd.concat([set_0_df, set_3_df, set_7_df, set_10_df], ignore_index=True)
set_df.head()
set_df.info()

,set_no,name,theme_group,theme,subtheme,year,dimensions,weight,piece_cnt,minifig_cnt,inventory_url,minifig_url,store_price,current_price,rating_value,rating_votes,tags,set_type,packaging,notes
0,722-1,"Universal Building Set, 7+",Basic,Basic,NaN,1980.0,NaN,NaN,301.0,0.0,NaN,NaN,$20.00,"New: $200, Used: $78",4.4,5,"Aircraft, Helicopter, Truck, Car, Boat, Crane,...",Normal,NaN,NaN
1,733-1,"Universal Building Set, 7+",Basic,Basic,NaN,1980.0,NaN,NaN,533.0,0.0,NaN,NaN,$39.00,"New: $566, Used: $109",4.5,2,"Helicopter, Truck, Baseplate, Crane, Racing, Base",Normal,NaN,NaN
2,744-1,"Universal Building Set with Motor, 7+",Basic,Basic,NaN,1980.0,NaN,NaN,537.0,0.0,NaN,NaN,$59.00,"New: $252, Used: $97",5.0,2,"Truck, Crane, Windmill",Normal,NaN,NaN
3,820-1,Red Plates Parts Pack,Basic,Basic,Supplementaries,1980.0,NaN,NaN,34.0,0.0,NaN,NaN,$4.75,"New: Not known, Used: Not known",NaN,NaN,NaN,Normal,NaN,NaN
4,822-1,Blue Plates Parts Pack,Basic,Basic,Supplementaries,1980.0,NaN,NaN,34.0,0.0,NaN,NaN,$4.75,"New: $29, Used: $5",NaN,NaN,NaN,Normal,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13896 entries, 0 to 13895
Data columns (total 20 columns):
set_no           13895 non-null object
name             13895 non-null object
theme_group      13895 non-null object
theme            13895 non-null object
subtheme         10169 non-null object
year             13895 non-null float64
dimensions       2948 non-null object
weight           3105 non-null object
piece_cnt        10952 non-null float64
minifig_cnt      13895 non-null float64
inventory_url    7021 non-null object
minifig_url      6297 non-null object
store_price      9286 non-null object
current_price    13895 non-null object
rating_value     6882 non-null float64
rating_votes     6882 non-null object
tags             10362 non-null object
set_type         13895 non-null object
packaging        9021 non-null object
notes            5290 non-null object
dtypes: float64(4), object(16)
memory usage: 2.1+ MB

In [6]:
# drop the sets that errored out from url search

set_df = set_df.dropna(subset=['set_no']).reset_index().drop(columns=['index'])
set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13895 entries, 0 to 13894
Data columns (total 20 columns):
set_no           13895 non-null object
name             13895 non-null object
theme_group      13895 non-null object
theme            13895 non-null object
subtheme         10169 non-null object
year             13895 non-null float64
dimensions       2948 non-null object
weight           3105 non-null object
piece_cnt        10952 non-null float64
minifig_cnt      13895 non-null float64
inventory_url    7021 non-null object
minifig_url      6297 non-null object
store_price      9286 non-null object
current_price    13895 non-null object
rating_value     6882 non-null float64
rating_votes     6882 non-null object
tags             10362 non-null object
set_type         13895 non-null object
packaging        9021 non-null object
notes            5290 non-null object
dtypes: float64(4), object(16)
memory usage: 2.1+ MB

In [7]:
# remove duplicates

doop_flag = set_df.duplicated(subset=['set_no'], keep=False)
doop_df = set_df.loc[ doop_flag ].sort_values('set_no')
doop_df.head(4)
doop_df.shape

,set_no,name,theme_group,theme,subtheme,year,dimensions,weight,piece_cnt,minifig_cnt,inventory_url,minifig_url,store_price,current_price,rating_value,rating_votes,tags,set_type,packaging,notes
7179,10287-1,Intelligent NXT Brick (Black),Technical,Mindstorms,NXT,2009.0,NaN,NaN,1.0,0.0,NaN,NaN,"£107.65, $169.99","New: $99, Used: $230",NaN,NaN,NaN,Normal,NaN,NaN
7084,10287-1,Intelligent NXT Brick (Black),Technical,Mindstorms,NXT,2009.0,NaN,NaN,1.0,0.0,NaN,NaN,"£107.65, $169.99","New: $99, Used: $230",NaN,NaN,NaN,Normal,NaN,NaN
7180,20007-1,Republic Attack Cruiser,Licensed,Star Wars,The Clone Wars,2009.0,NaN,NaN,84.0,0.0,/inventories/20007-1,NaN,NaN,"New: $30, Used: $15",4.5,6,"Polybag, Microscale, Cartoon, Brickmaster",Normal,Polybag,[US] BrickMaster exclusive.
7085,20007-1,Republic Attack Cruiser,Licensed,Star Wars,The Clone Wars,2009.0,NaN,NaN,84.0,0.0,/inventories/20007-1,NaN,NaN,"New: $30, Used: $15",4.5,6,"Polybag, Microscale, Cartoon, Brickmaster",Normal,Polybag,[US] BrickMaster exclusive.

(266, 20)

In [8]:
set_df = set_df.drop_duplicates(subset=['set_no']).reset_index()
set_df = set_df.drop(columns=['index', 'url'], errors='ignore')
set_df.shape

(13762, 20)

## Export to csv

In [9]:
save_path = r'../data/brickset_set_full.csv'
set_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'2.89 mb'